body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }


.star {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star.filled {
    color: gold;
}
#rating {
    text-align: center
}